// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.site-header {
	position: sticky;
	top: 0;
	background: #fff;
}

.site-title img {
	max-height: 48px;
	padding: 6px;
}

.post-image {
	max-width: 100%;
	max-height: 360px;
	margin-bottom: 24px;
	overflow: hidden;
}

.post-image img.featured-image {
	max-width: 100%;
}

.ribbon {
	min-height: 128px;
	line-height: 192px;
	background-image: url(/image/ribbon-seamless.png);
	background-position: center;
	background-size: contain;
}

.breaking {
	min-height: 24px;
	background: lightgrey;
	padding: 20px;
	justify-self: center;
	align-items: center;
	text-align: center;
}

.social-links {
	float: left;
}